header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

/* No mobile não é hover a:hover {
  color: var(--button-hover-color);
} */ 

nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  width:100%;
  background-color: var(--background-tertiary-color);
}

.navigation-menu {
  margin-top: 24px;
}

.list-links li {
  color: var(--text-secondary-color);
  list-style: none;
  margin: 16px 0;
}

.list-links li a {
  text-decoration: none;
  color: var(--text-secondary-color);
}