header{
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
  
}

a{
  text-decoration: none;
  color: var(--text-secondary-color);
  
}

a:hover{
  color: var(--button-hover-color)
}

nav{
  display: none;
}

.navigation-menu{
  margin-top: 24px;
}