header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo-mobile {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo-desktop{
  display: none;
}

nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  width:100%;
  background-color: var(--background-tertiary-color);
}

.navigation-menu {
  margin-top: 24px;
}

.list-links li {
  color: var(--text-secondary-color);
  list-style: none;
  margin: 16px 0;
}

.list-links li a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-size: 24px;
  font-weight: var(--menu-text-weight);
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
  }

  .navigation-menu label{
    display: none;
  }

  .navigation-menu nav{
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 467px;
  }

  .list-links li {
    margin: 0;
  }

}

@media screen and (min-width:1024px) {
  .logo-mobile{
    display: none;
  }
  
  .logo-desktop{
    display: block;
    width: 260px;
    height: 64px;
  }

  header {
    padding: 38px 160px;
  }

  .navigation-menu a:hover {
    color: var(--button-hover-color);
  }

}
